.fileListSizerWrapper {
    display:flex;
    flex-direction: column;
    flex-grow:1;
    position:relative;
    overflow: auto;
    font-size: 90%;
}

.fileview-icons textarea {
    font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "blueprint-icons-16", sans-serif;
    resize: none;
    text-align: center;
}

.fileview-icons .isHidden {
    opacity:.8;
}

.fileview-icons .isSymlink .icon:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    background:transparent url(../../img/link.png) no-repeat;
    background-color:white;
    background-size:100% 100%;
    width:10px;
    height:10px;
    border:1px solid rgba(0,0,0,.4);
}
