.fileListSizerWrapper{
    display:flex;
    flex-grow:1;
}

.fileListSizerWrapper .empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: rgba(92, 112, 128, 0.5);
}

.fileListSizerWrapper .empty .bp3-icon{
    margin: 10px auto;
}

.bp3-dark .fileListSizerWrapper .empty{
    color:rgba(255, 255, 255, 0.47);
}

.bp3-dark .fileListSizerWrapper .empty .bp3-icon{
    color:rgba(92, 112, 128, 0.5);
}

.tableRow .size{
    text-align:right;
    /* react-virtualized's Column component only allows to set a number for the flex-basis:
       since styles are set on the style property the only way to set it to "auto" is to use
       !important :/
    */
    flex-basis:auto !important;
}

.tableRow .name{
    display:flex;
    align-items: center;
}

.tableRow .file-label{
    flex-grow:1;
    overflow:hidden;
    white-space: pre;
    text-overflow:ellipsis;
}

/* inline rename */
.tableRow .file-label[contenteditable]{
    background-color:white;
    color:black;
    cursor:text;
    /* disable ellipsis so that the full text is visible & editable */
    text-overflow:initial;
    overflow:visible;
}

.tableRow.isHidden{
    opacity:.8;
}

/* theme-releated */
.tableRow:hover{
    background-color: rgba(191, 204, 214, 0.4);
}

.tableRow.selected{
    background-color: #8A9BA8;
}

.sideview.active .tableRow.selected{
    background-color:#137cbd;
}

.tableRow .bp3-icon{
    margin-right:7px;
    color:#5c7080;
}

.tableRow.isSymlink:after{
    content:'';
    position:absolute;
    bottom:4px;
    left:6px;
    background:transparent url(../../img/link.png) no-repeat;
    background-color:white;
    background-size:100% 100%;
    width:10px;
    height:10px;
    border:1px solid rgba(0,0,0,.4);
}

.tableRow.error, .tableRow.error .bp3-icon, body.bp3-dark .tableRow.error .bp3-icon{
    color: rgb(160, 43, 43);
}

.tableRow.selected, .tableRow.selected .bp3-icon{
    color:#fff;
}

/* dark theme */
body.bp3-dark .tableRow:hover{
    background-color:rgba(92, 112, 128, 0.3);
}

body.bp3-dark .tableRow.selected{
    background-color: rgb(88, 100, 109);
}

body.bp3-dark .sideview.active .tableRow.selected{
    background-color: #137cbd;
}

body.bp3-dark .tableRow .bp3-icon{
    color:#f5f8fa;
}

/* header stuff */
.ReactVirtualized__Table{
    font-size:12px;
}

.headerRow{
    -webkit-box-shadow: inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    box-shadow: inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    background-color:rgb(231, 236, 239);
    border-right: 1px solid rgba(16, 22, 26, 0.2);
    color: #182026;
    font-weight:normal;
    text-transform:none;
}

.ReactVirtualized__Table__headerTruncatedText{
    vertical-align:bottom;
}

.ReactVirtualized__Table__headerTruncatedText:first-child{
    flex-grow:1;
}

.tableHeader .resizeHandle, .tableHeader .sort {
    color:#ABAFB3;
}

.tableHeader{
    display:flex;
}

.tableHeader:last-child{
    border:none;
}

.bp3-dark .headerRow{
    background-color:rgb(66, 84, 97);
    color:#BFCCD6;
}

.tableHeader .sort{
    align-self:flex-end;
    font-family:verdana;
}

.tableHeader .sort.desc{
    align-self:flex-start;    
    transform:rotateX(180deg);
}

.bp3-dark .tableHeader .resizeHandle, .bp3-dark .tableHeader .sort{
    color: rgba(163, 188, 207, 0.589);
}
