.fileListSizerWrapper{
    display:flex;
    flex-grow:1;
}

.tableRow .size{
    text-align:right;
    /* react-virtualized's Column component only allows to set a number for the flex-basis:
       since styles are set on the style property the only way to set it to "auto" is to use
       !important :/
    */
    flex-basis:auto !important;
}

.tableRow .name{
    display:flex;
    align-items: center;
}

.tableRow .file-label{
    flex-grow:1;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

/* inline rename */
.tableRow .file-label[contenteditable]{
    background-color:white;
    color:black;
    cursor:text;
}

.tableRow.isHidden{
    opacity:.8;
}

/* theme-releated */
.tableRow:hover{
    background-color: rgba(191, 204, 214, 0.4);
}

.tableRow.selected{
    background-color: #8A9BA8;
}

.sideview.active .tableRow.selected{
    background-color:#137cbd;
}

.tableRow .bp3-icon{
    margin-right:7px;
    color:#5c7080;
}

.tableRow.error, .tableRow.error .bp3-icon, body.bp3-dark .tableRow.error .bp3-icon{
    color: rgb(160, 43, 43);
}

.tableRow.selected, .tableRow.selected .bp3-icon{
    color:#fff;
}

/* dark theme */
body.bp3-dark .tableRow:hover{
    background-color:rgba(92, 112, 128, 0.3);
}

body.bp3-dark .tableRow.selected{
    background-color: rgb(88, 100, 109);
}

body.bp3-dark .sideview.active .tableRow.selected{
    background-color: #137cbd;
}

body.bp3-dark .tableRow .bp3-icon{
    color:#f5f8fa;
}
