.fileListSizerWrapper{
    display:flex;
    flex-grow:1;
}

.fileListSizerWrapper .empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: rgba(92, 112, 128, 0.5);
}

.fileListSizerWrapper .empty .bp3-icon{
    margin: 10px auto;
}

.bp3-dark .fileListSizerWrapper .empty{
    color:rgba(255, 255, 255, 0.47);
}

.bp3-dark .fileListSizerWrapper .empty .bp3-icon{
    color:rgba(92, 112, 128, 0.5);
}

.tableRow .size{
    text-align:right;
    /* react-virtualized's Column component only allows to set a number for the flex-basis:
       since styles are set on the style property the only way to set it to "auto" is to use
       !important :/
    */
    flex-basis:auto !important;
}

.tableRow .name{
    display:flex;
    align-items: center;
}

.tableRow .file-label{
    flex-grow:1;
    overflow:hidden;
    white-space: pre;
    text-overflow:ellipsis;
}

/* inline rename */
.tableRow .file-label[contenteditable]{
    background-color:white;
    color:black;
    cursor:text;
}

.tableRow.isHidden{
    opacity:.8;
}

/* theme-releated */
.tableRow:hover{
    background-color: rgba(191, 204, 214, 0.4);
}

.tableRow.selected{
    background-color: #8A9BA8;
}

.sideview.active .tableRow.selected{
    background-color:#137cbd;
}

.tableRow .bp3-icon{
    margin-right:7px;
    color:#5c7080;
}

.tableRow.error, .tableRow.error .bp3-icon, body.bp3-dark .tableRow.error .bp3-icon{
    color: rgb(160, 43, 43);
}

.tableRow.selected, .tableRow.selected .bp3-icon{
    color:#fff;
}

/* dark theme */
body.bp3-dark .tableRow:hover{
    background-color:rgba(92, 112, 128, 0.3);
}

body.bp3-dark .tableRow.selected{
    background-color: rgb(88, 100, 109);
}

body.bp3-dark .sideview.active .tableRow.selected{
    background-color: #137cbd;
}

body.bp3-dark .tableRow .bp3-icon{
    color:#f5f8fa;
}

/* header stuff */
.ReactVirtualized__Table{
    font-size:12px;
}

.ReactVirtualized__Table__headerRow{
    -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    /* background-color: #f5f8fa; */
    background-color:rgb(231, 236, 239);
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)); */
    color: #182026;
    font-weight:normal;
    text-transform:none;
}

.ReactVirtualized__Table__headerTruncatedText{
    vertical-align:bottom;
}

.tableHeader{
    border-right: 1px solid #ccc;
}

.tableHeader:last-child{
    border:none;
}