body{
    margin:0;
    overflow:hidden;
    height:100vh;
    user-select: none;
}

body.bp4-dark {
    background-color: #293742;
    color: #f5f8fa;
}

button.small.bp4-minimal{
    transform:scale(.8);
    opacity:.6;
}

button.small:hover{
    opacity:1;
}

.bp4-tree-node-caret-none{
    min-width:10px;
}

.bp4-control-group.toolbar{
    z-index:1;
}

/* needed to make the pathbar full-width
 * FIXME: we shouldn't hack css like this
 */
.toolbar > .bp4-popover2-target {
    flex-grow: 1;
    flex-shrink: 1;
}

/* auto resize layout */
.filelist, .sideview{
    display:flex;
    flex-direction:column;
    flex-grow:1;
}

.sideview > .bp4-control-group{
    flex-shrink:0;
    -webkit-user-select: none;
}

.sideview > .bp4-control-group > :first-child,
.sideview > .bp4-control-group > :last-child {
    border-radius:0;
}

.main > .hidden{
    display:none;
    pointer-events: none;
}

#reload{
    position:absolute;
    opacity:.3;
    right:0;
    top:0;
}

#root{
    display: flex;
    flex-direction: column;
    height:100%;
}

#root .main{
    display:flex;
    justify-content: center;
    flex-grow:1;
    overflow:hidden;
    /* padding:10px; */
}

#root .sideview {
    position:relative;
    width:calc((100% - 200px) / 2);
    flex-grow:1;
}

#root .singleView .sideview {
    width:calc(100% - 200px);
}

#root .sideview {
    border-left: 1px solid rgb(189, 195, 199);
}

#root .dualView #view_0.inactive {
    border-right-color:transparent;
}

#root .dualView #view_0.active {
    border-left-color:transparent;
}

#root .dualView #view_1.inactive{
    border-left-color: rgb(131, 135, 138);
}

#root .darwin.dualView #view_1.active:before {
    border-bottom-right-radius: 5px;
}

#root .dualView .sideview:before{
    position: absolute;
    pointer-events:none;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    content: "";
    opacity: .6;
    z-index: 9;
    border: 1px solid rgb(189, 195, 199);
    border-top:none;
    border-bottom:none;
}

#root .dualView .sideview.active:before {
    opacity:1;
    border: 2px solid rgba(19, 124, 189, .9);
}

#root .dualView .sideview.inactive:before{
    border-left:none;
}

/* dark theme */
.bp4-dark #root .singleView .sideview {
    border-left: 1px solid rgb(14,25,34);
}

.bp4-dark #root .sideview,
.bp4-dark #root .dualView #view_1.inactive {
    border-color: rgb(14,25,34);
}

.bp4-dark #root .dualView .sideview.inactive:before {
    border-color: rgb(73, 75, 76);
}

#root .sideview.dropTarget:before {
    box-shadow: 0 0 4px 2px inset #00b63ddb;
}

#root .sideview.notDropTarget{
    cursor:no-drop;
}

#root .sideview.notDropTarget:before {
    box-shadow: 0 0 4px 2px inset #b6000982;
}

#root .sideview:first-child{
    margin-right:10px;
}

#root .singleView .sideview:first-child{
    margin-right:0;
}

.bp4-input-group{
    flex-grow:1;
}

.bp4-popover-wrapper{
    flex-grow:1;
}

.bp4-popover-wrapper .bp4-popover-target{
    width:100%;
}

.bp4-navbar .title-group .bp4-intent-primary{
    pointer-events:none;
}

.downloads{
    overflow:auto;
    width: auto;
    flex-grow:1;
}

.downloads.empty{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-self: center;
}

.downloads.empty .bp4-icon{
    padding: 20px 12px;
    border: 3px dashed #d9dde0;
    border-radius:8px;
    margin-bottom:20px;
    text-align:center;
}

.downloads.empty .bp4-icon svg{
    display:inline;
}

.downloads .bp4-tree-node-content .action{
    vertical-align:text-bottom;
    opacity: .5;
    cursor:pointer;    
}

.downloads .bp4-tree-node-content:hover .action{
    opacity: 1;
}

/* line height bug ? */
.bp4-tree-node-caret > span{
    vertical-align:top;
}

#root .bp4-navbar {
    border-bottom: 1px solid rgb(189, 195, 199);
    background: rgb(246,246,246);
    background: linear-gradient(180deg, rgba(246,246,246,1) 16%, rgba(230,236,239,1) 100%);
    box-shadow:none;
}

.bp4-dark #root .bp4-navbar {
    border-bottom: 1px solid rgb(14,25,34);
    background: rgb(46,46,46);
    background: linear-gradient(180deg, rgba(56,56,56,1) 16%, rgba(40,56,69,1) 100%);
}

.bp4-navbar .download .bp4-button-text{
    display: flex;
    align-items: center;
}

.app-badge{
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.app-badge .bp4-spinner svg {
    stroke-width: 10;
}

.app-badge-content{
    position: absolute;
    left: 0;
    color: #106ba3;
    font-size: 11px;
    font-weight: bold;
    line-height: 19px;
    right: 0;
    text-align: center;
}

.bp4-dark .app-badge-content {
    color: #48aff0;
}

.app-badge .bp4-spinner{
    display:inline-block;
}

.app-badge.bp4-intent-success{
    background-color:#0d8050;
}

.app-badge.bp4-intent-danger{
    background-color:#c23030;
}

.app-badge.bp4-intent-primary{
    background-color:#106ba3;
}

.app-badge.bp4-intent-warning{
    background-color:#bf7326;
}

.bp4-dark .app-badge.bp4-intent-success{
    background-color:#0f9960;
}

.bp4-dark .app-badge.bp4-intent-danger{
    background-color:#db3737;
}

.bp4-dark .app-badge.bp4-intent-primary{
    background-color:#137cbd;
}

.bp4-dark .app-badge.bp4-intent-warning{
    background-color:#d9822b;
}

/* app loader */
.app-loader{
    opacity:0;
    pointer-events:none;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.app-loader.active{
    opacity:1;
    pointer-events:all;
    background-color: rgba(255,255,255,.9);
}

body.bp4-dark .app-loader.active{
    background-color:rgba(41, 55, 66, 0.9);
}

.app-loader > * {
    /* flex-grow: 1; */
    opacity: 0;
    transition-property: opacity;
    transition-duration: 800ms;
}

.app-loader.active > *{
    opacity: 1;
}

/* properly align labels inside every dialog */
.bp4-dialog-body label.bp4-label {
    width: 28%;
    text-align: right;
}

/* special case for makedir: we want to see the dialog */
.makedirDialog label.bp4-label{
    width:auto;
}

/* login dialog */
.loginDialog .error{
    text-align:center;
    color:white;
    padding:15px;
    margin:10px 30px 40px 30px;
    border-radius:3px;
    border:1px solid rgba(16,22,26,.2);
}

.status-bar {
    background: rgba(206, 217, 224, 0.5);
    border-top: 1px solid rgb(189, 195, 199);
    padding-top: 4px;
    padding-bottom: 4px;
}

.bp4-dark .status-bar {
    background-color:rgb(41, 56, 66);
    border-top: 1px solid rgb(14,25,34);
}

.tablist{
    z-index:0;
}

.tablist button{
    border-bottom-left-radius:0;
    cursor:default;
}

.tablist .bp4-button.tab > * {
    margin-right:0;
}

.tablist .bp4-button .bp4-icon.folder{
    padding: 0 10px;
    margin:0;
    opacity:.9;
}

.tablist button:last-child{
    opacity:.3;
}

.tablist button:last-child:hover{
    opacity:1;
}

.tablist .closetab{
    opacity:0;
}

.tablist .bp4-button:hover .closetab{
    opacity:1;
}

.tablist .addtab:hover, .bp4-dark .bp4-button.addtab:hover{
    background:transparent;
}

.tablist.bp4-button-group.bp4-fill .bp4-button:not(.bp4-fixed) {
    width:13rem;
    flex-grow:0;
}

.tablist.bp4-button-group.bp4-fill .addtab:not(.bp4-fixed){
    width:auto;
    flex-grow:0;
}

.tablist .bp4-button .bp4-button-text{
    flex-grow: 1;
    text-align: center;
}

.sideview:not(.active) .tablist .bp4-intent-primary{
    background-color: #8A9BA8;
}

.bp4-dark .sideview:not(.active) .tablist .bp4-intent-primary{
    background-color: rgb(88, 100, 109);
}

.sideview > .toolbar > .bp4-button-group > .bp4-button:not([class*="bp4-intent-"]) {
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
}

.sideview > .toolbar > .bp4-button-group > .bp4-button:first-child:not([class*="bp4-intent-"]) {
    margin-left:-1px;
}

.sideview > .toolbar > .bp4-button-group > .bp4-button:last-child:not([class*="bp4-intent-"]) {
    box-shadow:inset 0 -1px 0 rgba(16, 22, 26, 0.1);
}

.tablist .bp4-button .bp4-button-text{
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.tablist-wrapper{
    position: relative;
    padding-right: 30px;
}

.tablist-wrapper .addtab{
    position:absolute;
    right:0;
    top:0;
}

/* intent colors on any span */
span.bp4-intent-success{
    color:#0d8050;
}

span.bp4-intent-danger{
    color:#c23030;
}

span.bp4-intent-primary{
    color:#106ba3;
}

span.bp4-intent-warning{
    color:#bf7326;
}

.bp4-dark span.bp4-intent-success{
    color:#0f9960;
}

.bp4-dark span.bp4-intent-danger{
    color:#db3737;
}

.bp4-dark span.bp4-intent-primary{
    color:#137cbd;
}

.bp4-dark span.bp4-intent-warning{
    color:#d9822b;
}

/* patch for linux/win dialogs that may show scrollbar */
.bp4-overlay-inline .bp4-overlay-content,
.bp4-overlay-scroll-container .bp4-overlay-content{
    max-height:100%;
}

.bp4-portal .bp4-overlay.bp4-overlay-scroll-container{
    overflow:hidden;
}



div#view_1 {
    overflow: auto;
}

::before {
    display: none;
}

.bp4-button-group.bp4-fill.tablist {
    position: fixed;
}


div#view_1 {
    width: 70% !important;
}

div#view_0 {
    width: 30% !important;
}

.bp4-tree.favoritesPanel.custom-scrollbar {
    width:5px
}


.bp4-navbar {
    display: none;
}

.bp4-button-group.bp4-fill.tablist {
    /* visibility: hidden; */
    opacity: 0;
    transition: opacity 0.3s;
}

.bp4-button-group.bp4-fill.tablist:hover {
    opacity: 1;
}

.bp4-tree.favoritesPanel.custom-scrollbar:hover {
    display: initial;
}

.bp4-tree.favoritesPanel.custom-scrollbar:hover {
    transition: width 0.3s;
    width: initial;
}

.bp4-control-group.toolbar:hover {
    height: initial;
    transition: height 0.3s;
    opacity: initial;
    transition: opacity 0.3s;
    
}
.bp4-control-group.toolbar {
    opacity: 0;
    height: 5px;
}

div#view_1> .imgcontainer:hover {
    width: 98%;
    position: fixed;
    right:0;
    top:0;
    
    
    overflow: auto;
    height: 100%;


    
    
    
}
div#view_1> .imgcontainer > img {
    width:-webkit-fill-available !important;
    
}


