.bp3-tree-node-caret-none{
    min-width:10px;
}


#reload{
    position:absolute;
    opacity:.3;
    right:0;
    top:0;
}

#root{
    display:flex;
    justify-content: center;
}

#root > div{
    margin:10px;
    flex-grow:1;
}

.bp3-tree-node.isHidden{
    opacity:.8;
}

.bp3-input-group{
    flex-grow:1;
}

.copy{
    position:absolute;
    bottom:0;
    right:0;
    opacity:0;
    pointer-events: none;
    transition-property: 'opacity';
    transition-duration: .8s;
}

.copy.showClipboard{
    opacity:.6;
    pointer-events: all;
}

.copy.showClipboard:hover{
    opacity:1;
}

.sideview{
    position:relative;
}