body{
    margin:0;
    overflow:hidden;
    height:100vh;
    user-select: none;
}

body.bp3-dark {
    background-color: #293742;
    color: #f5f8fa;
}

button.small{
    transform:scale(.8);
    opacity:.6;
}

button.small:hover{
    opacity:1;
}

.bp3-tree-node-caret-none{
    min-width:10px;
}

.bp3-control-group.toolbar{
    z-index:1;
}

/* auto resize layout */
.filelist, .sideview{
    display:flex;
    flex-direction:column;
    flex-grow:1;
}

.sideview > .bp3-control-group{
    flex-shrink:0;
    -webkit-user-select: none;
}

.main > .hidden{
    display:none;
    pointer-events: none;
}

#reload{
    position:absolute;
    opacity:.3;
    right:0;
    top:0;
}

#root{
    display: flex;
    flex-direction: column;
    height:100%;
}

#root .main{
    display:flex;
    justify-content: center;
    flex-grow:1;
    overflow:hidden;
    padding:10px;
}

#root .sideview{
    position:relative;
    width:50%;
    min-width:360px;
    flex-grow:1;
}

#root .sideview:before{
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: 4px;
    content: "";
}

#root .sideview.active:before{
    box-shadow: 0 0 0px 2px inset rgba(19, 124, 189, 0.8);
    z-index:2;
    pointer-events: none;
}

#root .sideview.dropTarget:before{
    box-shadow: 0 0 4px 2px inset #00b63d82;
}

#root .sideview.notDropTarget{
    cursor:no-drop;
}

#root .sideview:first-child{
    margin-right:10px;
}

.bp3-input-group{
    flex-grow:1;
}

.bp3-popover-wrapper{
    flex-grow:1;
}

.bp3-popover-wrapper .bp3-popover-target{
    width:100%;
}

.bp3-navbar .bp3-intent-primary{
    pointer-events:none;
}

.downloads{
    width: auto;
    align-self: flex-start;
    flex-grow:1;
}

.downloads.empty{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    padding-top:20%;
}

.downloads.empty .bp3-icon{
    padding: 20px 12px;
    border: 3px dashed #d9dde0;
    border-radius:8px;
    margin-bottom:20px;
    text-align:center;
}

.downloads.empty .bp3-icon svg{
    display:inline;
}

.downloads .bp3-tree-node-content .action{
    vertical-align:text-bottom;
    opacity: 0;
}

.downloads .bp3-tree-node-content:hover .action{
    opacity: .3;
    cursor:pointer;
}

.downloads .bp3-tree-node-content .action:hover{
    opacity: 1;
}

/* line height bug ? */
.bp3-tree-node-caret > span{
    vertical-align:top;
}

.bp3-badge{
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.bp3-badge .bp3-spinner svg {
    stroke-width: 10;
}

.bp3-badge-content{
    position: absolute;
    left: 0;
    color: #106ba3;
    font-size: 11px;
    font-weight: bold;
    line-height: 19px;
    right: 0;
    text-align: center;
}

.bp3-dark .bp3-badge-content {
    color: #48aff0;
}

.bp3-badge .bp3-spinner{
    display:inline-block;
}

.bp3-badge.bp3-intent-success{
    background-color:#0d8050;
}

.bp3-badge.bp3-intent-danger{
    background-color:#c23030;
}

.bp3-badge.bp3-intent-primary{
    background-color:#106ba3;
}

.bp3-badge.bp3-intent-warning{
    background-color:#bf7326;
}

.bp3-dark .bp3-badge.bp3-intent-success{
    background-color:#0f9960;
}

.bp3-dark .bp3-badge.bp3-intent-danger{
    background-color:#db3737;
}

.bp3-dark .bp3-badge.bp3-intent-primary{
    background-color:#137cbd;
}

.bp3-dark .bp3-badge.bp3-intent-warning{
    background-color:#d9822b;
}

.bp3-loader{
    opacity:0;
    pointer-events:none;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    display:flex;
}

.bp3-loader.active{
    opacity:1;
    pointer-events:all;
    background-color: rgba(255,255,255,.3);
}

body.bp3-dark .bp3-loader.active{
    background-color:rgba(41, 55, 66, 0.9);
}

.bp3-loader .bp3-spinner{
    flex-grow:1;
    opacity:0;
    transition-property:opacity;
    transition-delay:800ms;
    transition-duration:200ms;
}

.bp3-loader.active .bp3-spinner{
    opacity:1;
}

/* properly align labels inside every dialog */
.bp3-dialog-body label.bp3-label {
    width: 28%;
    text-align: right;
}

/* special case for makedir: we want to see the dialog */
.makedirDialog label.bp3-label{
    width:auto;
}

/* login dialog */
.loginDialog .error{
    text-align:center;
    color:white;
    padding:15px;
    margin:10px 30px 40px 30px;
    border-radius:3px;
    border:1px solid rgba(16,22,26,.2);
}

.status-bar.offline > .bp3-icon:after{
    border-bottom: 1px solid rgba(255,0,0,.6);
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    top: 2px;
    transform: rotateZ(-45deg);
    left: -2px;
}

.tablist{
    z-index:0;
}

.tablist button{
    border-bottom-left-radius:0;
    cursor:default;
}

.tablist .bp3-button.tab > * {
    margin-right:0;
}

.tablist .bp3-button .bp3-icon.folder{
    padding: 0 10px;
    margin:0;
    opacity:.9;
}

.tablist button:last-child{
    opacity:.3;
}

.tablist button:last-child:hover{
    opacity:1;
}

.tablist .closetab{
    opacity:0;
}

.tablist .bp3-button:hover .closetab{
    opacity:1;
}

.tablist .addtab:hover, .bp3-dark .bp3-button.addtab:hover{
    background:transparent;
}

.tablist.bp3-button-group.bp3-fill .bp3-button:not(.bp3-fixed) {
    width:13rem;
    flex-grow:0;
}

.tablist.bp3-button-group.bp3-fill .addtab:not(.bp3-fixed){
    width:auto;
    flex-grow:0;
}

.tablist .bp3-button .bp3-button-text{
    flex-grow: 1;
    text-align: center;
}

.sideview:not(.active) .tablist .bp3-intent-primary{
    background-color: #8A9BA8;
}

.bp3-dark .sideview:not(.active) .tablist .bp3-intent-primary{
    background-color: rgb(88, 100, 109);
}

.tablist .bp3-button .bp3-button-text{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/*
.tablist .sideview.active .tableRow.selected{
    background-color:#137cbd;
} */