.win32 .custom-scrollbar::-webkit-scrollbar,
.linux .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin: 4px; 
}

.win32 .custom-scrollbar::-webkit-scrollbar-thumb,
.linux .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--mantine-color-default-border);
    border-radius: 5px;
}

.win32 .custom-scrollbar::-webkit-scrollbar-track,
.linux .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.win32 .favoritesPanel,
.linux .favoritesPanel {
    overflow: overlay;
}
